body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background:url(../img/showcase_edited.jpg) no-repeat;
  background-size: 1400px 800px;

}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}


ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#cc0066;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  border-radius: 5px;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a  ;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#00ccff 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#cc0066;
  font-weight:bold;
}

header a:hover{
  color:#cc0066;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height: 10px;
  /*background:url('../img/showcase.jpg') no-repeat ;*/
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:1px;
  color:#ffffff;
  background: #35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
  border-radius: 5px;
}


/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width: 50%;
  color: #FFFFFF;
  font-size:large;
}

/* login */
ul#login li{
  list-style: none;
  padding:20px;
  border: #cc0066 solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:5px;
  margin-top:5px;
  color:#ffffff;
  background-color:#cc0066;
  text-align: center;
}
/*Login Screen*/
#Login {
   padding:1px;
  color:#ffffff;
  background: #35424a
}
#Login h1{
  float: left;
}
#Login form {
  float:right;
  margin-top:15px;
}
#Login input{
  border-radius: 5px;
}
#Login input[type="Id"]{
  padding:4px;
  height:25px;
  width:250px;
}
#Login input[type="password"]{
  padding:4px;
  height:25px;
  width:250px;
}
#Register{
   padding:1px;
  color:#ffffff;
  background: #35424a
}
#Register h1{
  font-size: 40px;
  color: #ffffff;
  margin-left: 130px;
  float: left;
}
#Register input{
 border-radius: 5px;
  float: right;

}
#Register form {
  float:right;
  margin-top: 15px;
  
}
#Register input[type="Id"]{
  position: relative;
    right: 500px;
    margin-bottom: 10px;
  padding:4px;
  height:25px;
  width:250px;
}
#Register input[type="mail"]{
  position: relative;
    right: 500px;
    margin-bottom: 10px;
  padding:4px;
  height:25px;
  width:250px;

}
#Register input[type="name"]{
  position: relative;
    right: 500px;
   padding:4px;
   margin-bottom:10px;
   
  height:25px;
  width:250px;
}
#Register input[type="number"]{
  position: relative;
    right: 500px;
    margin-bottom: 10px;
   padding:4px;
  height:25px;
  width:250px;
}
#Register input[type="password"]{
   position: relative;
    right: 500px;
    margin-bottom: 10px;
   padding:4px;
  height:25px;
  width:250px;
}

.button_2{
  height:38px;
  background:#cc0066;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  margin-right:350px;
  margin-top:-50px;
  border-radius: 5px;
  
  color:#ffffff;
}
#study{
  float: left;
  margin-left: -390px;
  margin-top: 80px;
  color: #ffffff;
  font-size:15px;
}
/*Registration successful page*/
#hi{
  color: #ffffff;
  text-align: center;
  font-size: 50px;
}
#note{
  color:#ffffff;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], 
    margin-bottom:5px;
  }
}
